@model IEnumerable<IcoItem>
@{
    ViewBag.Title = "Ico Index";
}

<h2>@ViewBag.Items</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6 card text-center" style="padding: 30px;">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-lg-6 card text-center" style="padding: 30px;">
            @Html.DisplayFor(modelItem => item.StartTime)
        </div>
    }
</div>


