@model IEnumerable<TopHundred.Entities.IcoItem>
@{
    ViewBag.Title = "Ico Index";
}

<h2>@ViewBag.Items</h2>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-12 card text-center" style="padding: 50px;">
        @Html.DisplayFor(modelItem => item.Name)
    </div>
    }
</div>


