@model LoginViewModel
@{
    ViewData["Title"] = "Sign In";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row" style="margin: 60px 0 0 0;">
    <div class="col-8 col-md-6 offset-md-3">
        <div class="modal-header">
            <h2 class="text-center text-md-left" style="margin: 20px 0;">@ViewData["Title"]</h2>
        </div>
        <div class="row">
            <div class="card-body">
                <form class="" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Username">User Name</label>
                        <input type="text" class="form-control" asp-for="Username" placeholder="username">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="text" class="form-control" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-dark btn-block col-12 col-sm-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>