
body {
    display: flex;
    min-height: 200vh;
    flex-direction: column;
    
}

main {
    flex: 1 0 auto;
}
.menu {
    background-image: linear-gradient(to right top, #6e1246 0%, #6e1246 100%);
}
    .menu li a {
        text-decoration: none;
    }
