<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/materialize/dist/css/materialize.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
            <a asp-controller="app" asp-action="index" class="brand-logo"><i class="fa fa-coffee"></i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
            <ul class=" hide-on-med-and-down" style="margin-left: 100px;">
                <li><a asp-controller="app" asp-action="index">Home</a></li>
                <li><a asp-controller="app" asp-action="Upcoming">Upcoming</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact Us</a></li>
                <li><a asp-controller="App" asp-action="About">About Us</a></li>
                <li  class="right-align"><a asp-controller="Account" asp-action="Login">Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a asp-controller="app" asp-action="Index">Home</a></li>
                <li><a asp-controller="app" asp-action="upcoming">Upcoming</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact Us</a></li>
                <li><a asp-controller="App" asp-action="About">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="~/js/mainApp.js"></script>
</body>
</html>
