<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark card-panel sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fa fa-amazon"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-controller="IcosList" asp-action="index" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @*<li class="nav-item">
                            <a asp-controller="IcosList" asp-action="Upcoming" class="nav-link">Upcoming</a>
                        </li>*@
                    <li class="nav-item">
                        <a asp-controller="IcosList" asp-action="SubmitIco" class="nav-link">Submit ICO</a>
                    </li>
                    @*<li class="nav-item">
                            <a asp-controller="IcosList" asp-action="News" class="nav-link">News</a>
                        </li>*@
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="ContactUs" class="nav-link">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="page-footer grey lighten-3" style="margin-top: 200px;">
        <div class="container">
            <div class="row">
                <div class="col col-sm-12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col col-sm-12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script src="~/js/mainApp.js"></script>
</body>
</html>
